@font-face {
    font-family: 'balqis';
    src: url('../fonts/balqis.woff2') format('woff2'),
       url('../fonts/balqis.woff2') format('woff2');
       font-weight: 300;
       font-style: normal;
       font-display: swap;
 }
 @font-face {
    font-family: 'RobotoCondensed-Light';
    src: url('../fonts/RobotoCondensed-Light.woff2') format('woff2'),
       url('../fonts/RobotoCondensed-Light.woff2') format('woff2');
       font-weight: 300;
       font-style: normal;
       font-display: swap;
 }
 @font-face {
    font-family: 'RobotoCondensed-LightItalic';
    src: url('../fonts/RobotoCondensed-LightItalic.woff2') format('woff2'),
       url('../fonts/RRobotoCondensed-LightItalic.woff2') format('woff2');
       font-weight: 300;
       font-style: italic;
       font-display: swap;
 }
 @font-face {
    font-family: 'RobotoCondensed-LightItalic';
    src: url('../fonts/RobotoCondensed-LightItalic.woff2') format('woff2'),
       url('../fonts/RRobotoCondensed-LightItalic.woff2') format('woff2');
       font-weight: 300;
       font-style: italic;
       font-display: swap;
 }
 @font-face {
    font-family: 'RobotoCondensed-Regular';
    src: url('../fonts/RobotoCondensed-Regular.woff2') format('woff2'),
       url('../fonts/RRobotoCondensed-Regular.woff2') format('woff2');
       font-weight: 400;
       font-style: normal;
       font-display: swap;
 }