.contacts {
    &__inner {
        display: flex;
    }

    &__date {
        font-family: balqis;
        font-size: 96px;
        line-height: 69px;
        color: #E2AB3F;
    }

    &__date span {
        font-size: 24px;
        line-height: 28px;
        color: #000;
        font-family: 'RobotoCondensed-LightItalic';
        display: block;
        margin-top: 0;
        margin-left: 135px;
    }

    &__price {
        font-family: balqis;
        font-size: 96px;
        line-height: 69px;
        color: #E2AB3F;
        margin-left: 124px;
    }

    &__price span {
        font-size: 24px;
        line-height: 28px;
        color: #000;
        font-family: 'RobotoCondensed-LightItalic';
        display: block;
        margin-top: 0;
        margin-left: 123px;
    }

    &__info {
        margin-bottom: 100px;
        margin-right: 125px;
    }

    &__form {
        display: flex;
        flex-direction: column;
    }

    &__form-title {

        font-size: 24px;
        line-height: 28px;

        color: #000000;
        margin-bottom: 50px;
    }

    &__form-name {
        width: 383px;
        height: 50px;
        margin-bottom: 20px;
        border: 1px solid #E2AB3F;
        outline: none;
        padding: 0 31px;
    }

    &__form-name:focus {
        border-color: #E2AB3F;
    }

    &__form-name::placeholder {
        /* transform: translateX(31px); */
        color: #000;
    }

    &__form-phone {
        width: 383px;
        height: 50px;
        margin-bottom: 30px;
        border: 1px solid #E2AB3F;
        outline: none;
        padding: 0 31px;
    }

    &__form-phone::placeholder {
        /* transform: translateX(31px); */
        color: #000;
    }

    &__form-btn {
        padding: 12px 45px;
        width: 280px;
        height: 50px;
        border: 1px solid #e2ab3f;
        cursor: pointer;
        background: #ffffff;
        font-style: 24px;
        line-height: 28px;
        font-family: "RobotoCondensed-Light";
        margin-left: 50px;
    }

    &__form-btn:hover {
        border: 1px solid #fff;
        background: #e2ab3f;
        color: #fff;
    }
}