.fairy-tail {
    &__slider {
        width: 50%;
    }

    &__inner {
        position: relative;
        display: flex;
    }

    &__container {
        max-width: 1230px;
        padding: 0 15px;
        margin: 0 auto;
    }

    &__content {
        margin-left: 55px;
        max-width: 545px;
    }

    &__text--first {
        margin-bottom: 50px;
    }

    &__text--second {
        margin-bottom: 50px;
    }

    &__body-title {
        font-weight: bold;
        margin-bottom: 50px;
        font-family: 'RobotoCondensed-Regular';
    }

    &__list {
        margin-bottom: 50px;
    }

    &__text--three {
        margin-bottom: 50px;
    }

    &__title span {
        margin-left: 250px;
    }
}



.slick {
    &-btn {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        z-index: 1;
        cursor: pointer;
        background-color: transparent;
        border: none;
        outline: none;
    }

    &-prev {
        left: 0;
    }

    &-next {
        right: 0;
    }
}