.container {
   max-width: 1230px;
   margin: 0 auto;
   padding: 0 15px;
}

.header {
   background-image: url("../images/header-bg.jpg");
   height: 100vh;
   background-repeat: no-repeat;
   background-position: center bottom;
   background-size: cover;

   /*   min-height: 1080px;  */
   &__top {
      display: flex;
      justify-content: space-between;
      padding-top: 72px;
      margin-bottom: 152px;
      font-family: 'RobotoCondensed-Regular';
   }

   &__phone {
      font-size: 24px;
      line-height: 28px;
      color: #000000;
      padding-left: 40px;
      position: relative;
   }

   &__phone::before {
      content: "";
      position: absolute;
      background-image: url(../../images/phone.svg);
      width: 30px;
      height: 30px;
      left: 0;
   }

   &__title {
      text-align: center;
      font-size: 250px;
      line-height: 334px;

      color: #000;
      font-family: 'balqis';
      font-weight: 300;
   }

   &__text {
      display: block;
      text-align: right;
      font-size: 56px;
      line-height: 66px;
      color: #000;
      font-family: 'RobotoCondensed-LightItalic';
      font-weight: 300;
      margin-top: -60px;
      margin-right: 90px;
   }

   .menu {
      &__list {
         display: flex;
         font-size: 24px;
         line-height: 28px;
         max-width: 900px;
      }

      &__item-link {
         color: #000;
      }

      &__list-item {
         margin-right: 52px;
      }

      &__list-item:last-child {
         margin-right: 630px;
      }

      &__item-link:hover {
         border-bottom: 2px solid black;
         /* color: lighten($menu-color, 30%); */
      }
   }
}