.our-trip {
   display: flex;
   &__slider {
      width: 50%;
      margin-left: auto;
   }

   &__body {
      margin-left: 360px;
   }
   &__inner {
      min-width: 50%;
   }
   &__list {
      margin-bottom: 50px;
      font-style: 24px;
      line-height: 28px;
   }

   &__btn {
      margin-top: 61px;

      padding: 11px 53px;
      border: 1px solid #e2ab3f;
      cursor: pointer;
      background: #ffffff;
      outline: none;
      font-style: 24px;
      line-height: 28px;
      font-family: "RobotoCondensed-Light";
   }

   &__btn:hover {
      border: 1px solid #fff;
      background: #e2ab3f;
      color: #fff;
   }

   &__item--day {
      margin-bottom: 20px;
      font-weight: bold;
      font-family: "RobotoCondensed-Regular";
   }

   &__title span {
      margin-left: 250px;
   }
}
