.price {
    &__inner {
        display: flex;
    }

    &__on {
        min-width: 530px;
        margin-right: 70px;
    }

    &__off {
        min-width: 371px;
    }

    &__item {
        margin-bottom: 20px;
    }

    &__img {
        position: relative;
        top: -110px;
    }

    &__item--first {
        font-family: 'RobotoCondensed-Regular';
        font-size: 24px;
        line-height: 28px;
        margin-bottom: 50px;
    }
}

@media (max-width: 1560px) {
    .price {
        display: flex;
        justify-content: center;

        &__img {
            display: none;
        }
    }
}

@media (max-width: 985px) {
    .price {
        &__on {
            min-width: 330px;
            margin-right: 30px;
        }

        &__off {
            min-width: 231px;
        }
    }
}

@media (max-width: 610px) {
    .price {
        text-align: center;

        &__on {
            min-width: 230px;
            margin-right: 0;
        }

        &__off {
            min-width: 160px;
        }

        &__inner {
            display: flex;
            flex-direction: column;
        }
    }
}

